.telaAssentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 67px;
    width: 100%;
}

.telaAssentos > span{
    color: #293845;
    font-size: 24px;
    padding: 50px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.assentos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.assento{
    width: 26px;
    height: 26px;
    border-radius: 12px;
    background-color: #C3CFD9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #808F9D;
    font-size: 11px;

    margin: 9px 4px;
}